/build
/google-services(1).json
app/src/main/java/com/example/autocompose/utils/*
app/src/main/java/com/example/autocompose/utils/Constants.kt
**/Constants.kt
app/src/main/res/values
/google-services.json